version: '3.8'

services:
  stable-diffusion-webui:
    build: ./stable-diffusion
    container_name: sd-webui
    ports:
      - "7860:7860"
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./stable-diffusion:/app
